Options -Indexes

# invoke rewrite engine

RewriteEngine On
RewriteBase /

# Let's protect these files.
RewriteRule ^OAuth.php$ /assign1/parte/404.shtml  [R,L]
RewriteRule ^twitteroauth.php$ /assign1/parte/404.shtml  [R,L]

# Custom 404 errors
ErrorDocument 404 /assign1/parte/404.shtml